<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
a, a:visited {
  color: #239AFB;
}
a, a:hover, a:visited {
  text-decoration: none;
}
</style>
<body>

<div class="jumbotron text-center">
  <h1>Connect Four!</h1>
  <p>A peer program by Jun and Chase!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href=><h3>Sign Up</h3></a>
      <p>Sign Up and Play with your friends</p>
      <p>Join the ranks, play with your friends, and chat with your friends as well</p>
    </div>
    <div class="col-sm-4">
      <a href="/boards/new"><h3>Play Connect Four</h3></a>
      <p>Play a quick game of Connect Four with your friend</p>
      <p>A quick 2 player mode for a fun, fun, fun match!</p>
    </div>
    <div class="col-sm-4">
      <a href><h3>Login</h3></a>        
      <p>Login and Play with your friends</p>
      <p>Level up each match, play with your friends, and chat with your friends as well</p>
    </div>
  </div>
</div>









</body>
</html>